*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior:smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #2b046d;
    font-weight: 800;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
    transition: 0.1s;
    font-display: fallback;
    
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #88040d;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
    font-size: 18px;
}

section nav ul li a:hover{
    color: #1c0442c1;
}

section nav .icon i{
    font-size: 18px;
    color: #88040d;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #88040d;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 180px;
}

section .main .men_text h1{
    font-size: 40px;
    position: relative;
    top: -130px;
    left: px;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: #210488;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-size: 30px;
}

section .main .main_image img{
    width: 600px;
    
    left: 70px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 73px;
    bottom: 120px;
    line-height: 22px;
}

section .main_btn{
    background: #88040d;
    position: relative;
    top: -100px;
    left: 1100px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

section .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i{
    color: #efeaea;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px);
}



/*About*/

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 600px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: #2b0683;
    margin-right: 15px;
    font-family: mv boli;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}

.about .about_btn{
    background: #88040d;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 68%;
    bottom: 10px;
}



/*Menu*/

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #88040d;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background:#88040d;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #88040d;
    cursor: pointer;
    text-shadow: 0 0 6px #88040d;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #88040d;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color:rebeccapurple;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: silver;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: darkblue;
    padding: 5px 15px;
    margin: 0 100px;
    transition: 0.3s;
    
}  
/* booking form */
h4 {
    text-align: center;
    background-color: aqua;
    font-family: cursive;
    font-size: 20px;
    width: 25%;
}

#form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

  input[type="text"],
  input[type="date"],
  input[type="text"],
  input[type="tel"]
  
  {
    width: 25%;
    padding: 5px;
    border: 1px solid #0b0909;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: aqua;


    
}

button {
    padding: 10px 10px;
    font: 1em sans-serif;
    margin-top: 5px;
    margin-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: gold;
    

}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ccc;
}
/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #fac031;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(48, 1, 1, 0.5);
}

::-webkit-scrollbar-thumb{
    background: #fac031;
    border-radius: 15px;
}